.item{
position: relative;
background-color: tomato;
margin: 10px;
cursor: pointer;
}
.caption{
    background-color: rgb(245, 248, 247);
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 80%;
    left: 10%;
    text-transform: capitalize;
    padding: 4px
}

.light-box{
    background-color: rgba(0,0,0,.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.light-box i{
    float: right;
    font-size: 20px;
    margin: 20px 23px;
    background-color: honeydew;
    /* padding: 10px; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}


.img-container{
    /* background-image: url(../img/co6.jpg); */
    width: 70%;
    height: 70%;
    background-size: cover;
}
